<div class="page-header">
  <div class="row">
    <h1 class="col-sm-8">Edit this student</h1>
      <div class="col-sm-8">
        <%= link_to 'Home', students_path, class: 'btn btn-default pull-left' %>
      </div>
  </div>
</div>
<%= render partial: 'form', locals: {submit_copy: 'Update this student'} %>

