<div class="navbar navbar-default navbar-static-top">
      <div class="container">
       
        <a href="./" class="navbar-brand">Alex Koepke</a>
        
        <button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <div class="collapse navbar-collapse navHeaderCollapse">
          
          <ul class="nav navbar-nav navbar-right">
            <li class="avtive"><%= link_to "Home", controller: "welcome" %></li>
            <li><%= link_to "My Blog", controller: "posts" %></li>
            <li><%= link_to "Buller", controller: "students" %></li>
          </ul>
        
        </div>
      
      </div>
    </div>