.btn-group{
    width: 100%;
    bottom: 15px;
    position: relative;
    top: 15px; }

.page-header {
  padding-bottom: 9px;
  margin: -20px 0 20px;
  border-bottom: 0px; }

.avatar {
  border-radius: 50%;
  behavior: url(PIE.htc);
  height: 120px;
  width: 120px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px; }

.student {
  display: block;
  float: left;
  margin-left: 20px; }

.student-profile {
  margin-bottom: 20px;
  background-color:#eeeeee; }

div.seatsTable{
  width: 100%;
  height: 100%;
  margin: 10px 10px 10px 10px; }

table.seatsTable{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color:#eeeeee;
  margin: 10px 0 0 0; }

td.seatsTable{
  text-align: center;
  background-color:#eeeeee;
  border: 2px solid white; }

div.name-here{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align:center; }