<%= render 'header' %>
<div class="container" id="content">
  
  <div class="row">
    <div class="span6">
      <%= render 'form' %>
      <table>
        <tr>
          <td>1</td>
          <td>2</td>
        </tr>
        <tr>
          <td>3</td>
          <td>4</td>
        </tr>
      </table>
    </div>    
  </div>
  
</div>