<%= render 'header' %>
<div class="container" id="content">
  
  <div class="row">
    <div class="span6">
      <%= render 'form' %>
      <table class="seatsTable">
        <tr class="seatsTable">
          <td class="seatsTable">1</td>
          <td class="seatsTable">2</td>
        </tr>
        <tr class="seatsTable">
          <td class="seatsTable">3</td>
          <td class="seatsTable">4</td>
        </tr>
      </table>
    </div>    
  </div>
  
</div>